@import url('https://fonts.googleapis.com/css?family-Chakra+Petch:wght@400;700&display=swap');

:root {--cor-de-fundo:#0b0be7;  --verde: #6FF57;   --branco:  #03eb0f;  --botao-ativo: #e91159;
  --botao-inativo: rgba (58, 55, 94, 0.5); --
